* {
    font-family: "Coda";
    font-weight:bolder
}

body {
    background-color: rgb(38, 39, 53);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(23, 115, 151);
}

.input {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 130px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 28px;
    padding: 2px;
    text-align: right;
    justify-content: space-evenly;
    align-items: flex-end;
    letter-spacing: 2px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: 0;
}

.buttons {
    display: flex;
    gap: 10px;
    width: 85%;
    flex-wrap: wrap;
    justify-content:center;
}


.buttons > *{
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.clear {
    height:45px;
    width: 165px;
    border-radius: 10px;
    background-color: rgb(200, 68, 68);
}

.clear:hover {
    background-color: rgb(215, 28, 28);
}

.delete {
    height: 45px;
    width: 165px;
    border-radius: 10px;
    background-color: rgb(54, 109, 197);
}

.delete:hover {
    background-color: rgb(16, 102, 239);
}

.number {
    height: 45px;
    width: 75px;
    border-radius: 10px;
}

.btn {
    height: 45px;
    width: 75px;
    border-radius: 5px;
}

.number:hover {
    background-color:darkgray;
    transform: scale(1.02);
}